.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 48px;
}

.gridItem {
  grid-column: span 12;
}

.section {
  padding: 0 32px;
  width: 100%;
}

.featuredSection {
  background: linear-gradient(
      60deg,
      rgba(234, 254, 251, 0.7) 1%,
      rgba(195, 221, 247, 0.88),
      rgba(239, 225, 255, 1) 100%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 225, 255, 0) 100%
    );
  background-blend-mode: overlay;
  padding-top: 72px;
  margin-top: -72px;
  /* if width or max-width is not set to 100% in firefox, then the slider component overflows*/
  width: 100%;
}

.featuredSectionTitle {
  font-size: 40px;
  text-align: center;
  margin-bottom: 44px;
  margin-top: 32px;
}

.statsSection {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

.statsHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid rgb(227 227 227 / 80%);
  grid-column: span 12;
}

.tabContainer {
  display: flex;
  gap: 40px;
}

.tabBtn {
  font-family: inherit;
  font-size: 24px;
  border: none;
  background: transparent;
  font-weight: 600;
  color: #707a83;
  padding-bottom: 16px;
  padding-right: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-bottom: 2px solid transparent;
}

.tabBtn:hover {
  color: #353840;
}

.tabBtnActive {
  color: #353840;
  border-bottom: 2px solid #04111d;
}

.filterBtnsContainer {
  display: flex;
  gap: 16px;
}

.filterBtn {
  display: flex;
  align-items: center;
  box-shadow: rgb(0 0 0 / 5%) 0px 2px 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  color: rgb(4, 17, 29);
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 2px solid rgb(229, 232, 235);
  padding: 8px 16px 8px 24px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.filterBtn:hover {
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px;
}

.btnExpandIcon {
  color: #8a939b;
}

.statsCollection {
  grid-column: span 6;
}

.newCollectionsHeader {
  font-size: 24px;
  color: #04111d;
  font-weight: 600;
  margin-bottom: 24px;
}

.sectionNFTHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.sectionNFTHeader h2 {
  margin-bottom: 10px;
}

.sectionNFTHeader p {
  font-size: 14px;
  color: #04111d;
}

.categoriesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  row-gap: 24px;
}

@media screen and (max-width: 700px) {
  .featuredSectionTitle {
    font-size: 32px;
  }
  .categoriesContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .statsCollection {
    grid-column: span 12;
  }
  .statsCollectionRow2 {
    display: none;
  }
  .tabContainer {
    gap: 16px;
  }
  .tabBtn {
    font-size: 16px;
  }
  .filterBtn {
    padding: 6px 8px;
    font-size: 14px;
  }
  .newCollectionsHeader {
    font-size: 20px;
  }
}

@media screen and (max-width: 1150px) {
  .statsCollection {
    grid-column: span 12;
  }
  .statsCollectionRow2 {
    display: none;
  }
}
