.form {
  width: 100%;
}

.formGroup {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  /* border: 2px solid rgb(229, 232, 235); */
  box-shadow: rgb(229 232 235 / 0%) 0px 1px 0px 0px;
  padding: 12px;
  gap: 5px;
}

.searchIcon {
  color: #8a939b;
}

.searchInput {
  width: 100%;
  outline: 0;
  border: none;
  font-family: inherit;
  font-size: 16px;
  color: #04111d;
  background-color: transparent;
}

.closeIcon {
  color: #707a83;
  font-size: 20px;
}
