.card {
  width: 415px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 8px;
  background-color: rgb(255, 255, 255);
}

.link:hover .card {
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
}

.imgContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70%;
  overflow: hidden;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.headerContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 30%;
  align-items: center;
  padding-left: 20px;
}

.cardHeading {
  color: #04111d;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .card {
    height: 250px;
  }
  .cardHeading {
    font-size: 16px;
  }
}
