.navigationListContainer {
  display: flex;
}

.navigationList {
  display: flex;
  list-style: none;
  align-items: center;
}

.navigationLink {
  display: flex;
  min-width: 64px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.navigationLink:link,
.navigationLink:visited {
  color: #04111d;
}

.navigationLink:hover,
.navigationLink:focus,
.navigationLink:active {
  color: rgba(4, 17, 29, 0.8);
}

.navigationIcon {
  font-size: 30px;
}

.listItem {
  position: relative;
}

.dropdown {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  transition: all 0.3s ease-in;
  transform: translateY(5px);
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  min-width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.listItem:hover > .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(20px);
}

.dropdownItem {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  color: #04111d;
  padding: 18px 12px 18px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in;
  align-items: center;
  gap: 12px;
}

.dropdownItem:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.dropdownLink,
.dropdownLink:link,
.dropdownLink:visited {
  color: #04111d;
  text-decoration: none;
}

.dropdownItem > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdownItem > div > span {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.dropdownIcon {
  font-size: 24px;
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

.filledIcon {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
}

.dropdownItem > div .dropdownIcon {
  font-size: 16px;
}

.navigationListMobile {
  display: none;
}

@media screen and (max-width: 599px) {
  .navigationList {
    display: none;
  }
  .navigationListMobile {
    display: flex;
  }
  .navigationListMobile .navigationIcon {
    font-size: 34px;
  }
  .navigationListMobile .navigationLink {
    min-width: auto;
    padding: 0 8px;
  }
}
